.frontPage {
    background-color: #e8eeff;
}

.frontHeader {

}

.frontBody {
    display: flex;
    flex-direction: row;
    height: 81vh;
}

.frontBodyLeft {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 75vh;
    background-color: white;
    margin: 2%;
    border-radius: 20px;
}

.intro {
    height: 80%;
    font-family: "나눔스퀘어라운드 Bold";
}

.intro h2 {
    font-size: 48px;
}

.intro p {
    font-size: 32px;
}

.introDiv {
    margin: 3%;
}

.frontBodyRight {
    display: flex;
    width: 40%;
    margin: 2%;
}

.qrDiv {

}

.adminDiv {
    display: flex;
    justify-content: flex-start;
    width : 10%;
    cursor: pointer;
}

.qrcodeImg {
    width: 40vw;
    height: 75vh;
    opacity: 0.75;
    border-radius: 20px;

}

.guideImg {
    width : 100%;
}

.frontFooter {

}

.guestBook {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.writeBtn {
    width : 50%;
    flex-grow: 1;
    margin : 20px;
    padding : 20px;
    font-size: 30px;
    font-weight: bold;

    background-color : #b3c6ff;
    border: none;

}

.writeBtn:hover {
    background-color : #b3c6ff;
}