.mainPage {
    display: flex;
    flex-direction: column;
}

.mainPageHeader {

}

.mainPageBody {
    margin-top: 1%;
    overflow: hidden;
}

.main_slideContainer {
    transition: 2s;
    width: 300vw;
    
    /*animation-name: slideAnimation;
    animation-duration: 0s;
    animation-direction: normal;
    animation-iteration-count: infinite;*/
}
/*
@-webkit-keyframes slideAnimation {
    from{
        width: 300vw;
    }
    to{
        width: 0vw;
    }
}*/

.main_slideBox {
    width: 100vw;
    float: left;
}

.mainPageFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2.1% 0;
}

.mainPageButtons {

}

.orderBtn {
    background-color : deepskyblue;
    font-weight: bold;
    border: none;
    width: 45%;
    padding: 2% 0;
}
