.helpModalHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.helpModalHeader h2 {
    margin: 0;
}

.headerText {
    display: flex;
    justify-content: center;
}

.helpModalBody {
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}

.helpBodyHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.helpBodyContents {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.helpBodyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.helpBodyContainer img {
    width: 50%;
}

.helpBodyContainer Button {
    margin-top: 20px;
    width: 35%;
    font-size: 20px;
    font-weight: bold;
    background-color: #b3c6ff !important;
    border: #b3c6ff !important;
}

.pageMoveBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2%;
}

.modalCloseBtn {
    height: 5vh;
    width: 30%;
    font-weight: bold;
    font-size: 20px;
}