.helpModalHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.helpModalHeader h2 {
    margin: 0;
}

.headerText {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    width: 90%;
}

.closeBtnDiv {
    display: flex;
    justify-content: flex-end;
    width: 10%;
}

.helpModalBody {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.helpBodyHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.helpBodyContents {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.helpBodyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.helpBodyContainer img {
    width: 50%;
}

.helpBodyContainer Button {
    width: 30%;
}

.pageMoveBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.previousBtn {
    height: 5vh;
    width: 45%;
    margin: 2.5% 7.5%;
    font-weight: bold;
    background-color: #6c757d !important;
    border: #6c757d !important;
}

.nextBtn {
    height: 5vh;
    width: 45%;
    margin: 2.5% 7.5%;
    font-weight: bold;
    background-color: #45d174 !important;
    border: #45d174 !important;
}