.orderContents {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: #e8eeff;
}

.leftContents {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100vh;
    overflow: hidden;
}

.topContents {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 2.5% 2.75%;
    border-radius: 25px;
}

.topLogoBox {
    display: flex;
    flex-direction: row;
    margin: 1% 2% 0.5% 2%;
}

.topLogoBox p {
    font-size: 54px;
    font-family: Gabriola;
    margin: 5px 0 5px 30px;
}

.logoImage {
    width: 10%;
    height: 90%;
}

.helpText {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

.helpText p {
    font-family: "나눔스퀘어라운드 Bold";
    font-size: 24px;
    margin: 5px 0;
}

.helpInfo {
    display: flex;
    flex-direction: row;
    width: 75%;
}

.orderProgress {
    background: #e8eeff;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: 1% 0;
}

.optionProgress {
    background: #e8eeff;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: 1% 0 1% 20%;
}

.progress_order {
    width: 20%;
    border-radius: 100px;
    background: #b3c6ff;
    height: 10px;
}

.progress_option {
    width: 80%;
    border-radius: 100px;
    background: #b3c6ff;
    height: 10px;
}

.progress_pay {
    width: 98%;
    border-radius: 100px;
    background: #b3c6ff;
    height: 10px;
}

.helpArrow {
    /*animation: arrowMove 2s ease-in-out infinite;*/
    margin: 0 5%;
}

@keyframes arrowMove {
    0% {
        color: black;
    }

    50% {
        color: skyblue;
    }

    100% {
        color: deepskyblue;
    }
}

.orderBody {
    display: flex;
    flex-direction: row;
}

.menuContents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.menuItems {
    width: 800vw;
    transition: transform 1s;
}

.slide-boxes {
    width: 20vw;
}

.menu_Container {
    float : left;
    margin : 0px 0.2%;
    cursor: pointer;
}

.menuImages {
    background-color: white;
    border-radius: 10px 10px 0 0;
    height: 40vh;
}

.menuImages img {
    width: 90%;
}

.menuName {
    background-color: white;
    width: 100%;
    border-radius: 0 0 10px 10px;
    font-size: 28px;
    margin-top: 2%;
    padding: 5% 0;
}

.menuName p {
    margin: 0;
}

.arrowBtnDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1.5% 0;
}

.leftArrowBtn {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px 0 0 10px;
    cursor: pointer;
}

.leftArrowBtn p {
    margin: 0 0 0 20px;
    font-size: 28px;
}

.rightArrowBtn {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.rightArrowBtn p {
    margin: 0 20px 0 0;
    font-size: 28px;
}

.varietyContents {
    background-color: white;
    margin: 0% 2.75%;
    border-radius: 25px;
}

.menuTable {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menuTable > div {
    width: 100%;
    padding: 2% 10%;
}

.menuTable > div:hover {
    background-color: #c4d1f5;
    cursor: pointer;
}

._top > div:nth-child(1):hover {
    border-top-left-radius: 25px;
}

._top > div:nth-child(4):hover {
    border-top-right-radius: 25px;
}

._bottom > div:nth-child(1):hover {
    border-bottom-left-radius: 25px;
}

._bottom > div:nth-child(4):hover {
    border-bottom-right-radius: 25px;
}

.coffeeTab {
    border-top-left-radius: 25px;
    animation-name: tabLighting;
    animation-duration: 1.5s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}

.adeTab {
    animation-name: tabLighting;
    animation-duration: 1.5s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}

.teaTab {
    animation-name: tabLighting;
    animation-duration: 1.5s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}

.dessertTab {
    animation-name: tabLighting;
    animation-duration: 1.5s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}

@keyframes tabLighting {
    0% {
        background-color: white;
    }
    50% {
        background-color: #b3c6ff;
    }
    100% {
        background-color: white;
    }
}

.menuTable > div > p {
    margin: 0;
    font-size: 20px;
    font-family: "나눔스퀘어라운드 Bold";
}

.rightContents {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.recipe {

    border-radius: 25px;
    margin: 6.5% 5%;
    height: 100%;
}

.recipeTop {
    height: 75%;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 10px;
}

.recipeTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10%;
}

.recipeTitle > p {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}

.orderResetBtn {
    margin: 0;
    font-weight: bold;

}

.recipeBody {
    display: flex;
    flex-direction: column;
}

.recipeBody p {
    margin: 0;
}

.recipeContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1.5% 5%;
    border-radius: 20px;
    background-color: #f7f9ff;

    cursor: pointer;
    user-select: none;
}

.recipeContent > img {
    width: 25%;
    padding-bottom: 3.5%;
}

.recipeDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
}

.recipeDetail > p {
    font-size: 20px;

}

.recipeCount {
    display: flex;
    flex-direction: row;
    margin-left: 1vw;
    width: 40%;
}

.recipeCount > p {
    font-size: 30px;
    font-weight: bold;
    margin: 0 2vw;
}

.recipeCount > span {
    cursor: pointer;
}

.temp {
    font-size: 50px !important;
    font-weight: bold;
}

.recipeBottom {
    height: 25%;
    border-radius: 20px;
    background-color: white;

}

.recipePrice {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50%;
}

.recipePrice > p {
    margin: 0;
    font-size: 20px;
}

.recipeButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buyBtn {
    height: 5vh;
    width: 45%;
    margin: 2.5% 7.5%;
    font-weight: bold;
    background-color: #45d174 !important;
    border: #45d174 !important;
}

.cancelBtn {
    height: 5vh;
    width: 45%;
    margin: 2.5% 7.5%;
    font-weight: bold;
    background-color: #6c757d !important;
    border: #6c757d !important;
}