.orderContents {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: #e8eeff;
}

.leftContents {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100vh;
    overflow: hidden;
}

.topContents {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 2.5% 2.75%;
    border-radius: 25px;
}

.topLogoBox {
    display: flex;
    flex-direction: row;
    margin: 1% 2% 0.5% 2%;
}

.topLogoBox p {
    font-size: 54px;
    font-family: Gabriola;
    margin: 5px 0 5px 30px;
}

.logoImage {
    width: 10%;
    height: 90%;
}

.showDate {
    flex-direction: column;
    font-family: "나눔스퀘어라운드 Bold";
    font-size: 20px;
    width: 70%;
}

.orderBody {
    display: flex;
    flex-direction: row;
    height: 50vh;
}

.menuContents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.menuItems {
    width: 800vw;
    transition: transform 1s;
}

.slide-boxes {
    width: 20vw;
}

.menu_Container {
    float : left;
    margin : 0px 0.2%;
    cursor: pointer;
}

.menuImages {
    background-color: white;
    border-radius: 10px 10px 0 0;
    height: 40vh;
}

.menuImages img {
    width: 90%;
}

.menuName {
    background-color: white;
    width: 100%;
    border-radius: 0 0 10px 10px;
    font-size: 24px;
    margin-top: 2%;
    padding: 5% 0;
}

.menuName p {
    margin: 0;
}

.arrowBtnDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2% 0;
}

.leftArrowBtn {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px 0 0 10px;
    cursor: pointer;
}

.leftArrowBtn p {
    margin: 0 0 0 20px;
    font-size: 28px;
}

.rightArrowBtn {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.rightArrowBtn p {
    margin: 0 20px 0 0;
    font-size: 28px;
}

.varietyContents {
    background-color: white;
    margin: 2.5% 2.75%;
    border-radius: 25px;
}

.menuTable {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menuTable > div {
    width: 100%;
    padding: 2% 10%;
}

.menuTable > div:hover {
    background-color: #c4d1f5;
    cursor: pointer;
}

._top > div:nth-child(1):hover {
    border-top-left-radius: 25px;
}

._top > div:nth-child(4):hover {
    border-top-right-radius: 25px;
}

._bottom > div:nth-child(1):hover {
    border-bottom-left-radius: 25px;
}

._bottom > div:nth-child(4):hover {
    border-bottom-right-radius: 25px;
}

.menuTable > div > p {
    margin: 0;
    font-size: 20px;
    font-family: "나눔스퀘어라운드 Bold";
}

.rightContents {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.recipe {

    border-radius: 25px;
    margin: 6.5% 5%;
    height: 100%;
}

.recipeTop {
    height: 75%;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 10px;
}

.recipeTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10%;
}

.recipeTitle > p {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}

.recipeBody {
    display: flex;
    flex-direction: column;
}

.recipeBody p {
    margin: 0;
}

.recipeContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1.5% 5%;
    border-radius: 20px;
    background-color: #f7f9ff;
}

.recipeContent > img {
    width: 25%;
    padding-bottom: 3.5%;
}

.recipeDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recipeDetail > p {
    font-size: 20px;

}

.recipeCount {
    display: flex;
    flex-direction: row;
    margin-left: 3vw;
}

.recipeCount > p {
    font-size: 30px;
    font-weight: bold;
    margin: 0 2vw;
}

.recipeCount > span {
    cursor: pointer;
}

.temp {
    font-size: 50px !important;
    font-weight: bold;
}

.recipeBottom {
    display: flex;
    flex-direction: column;
    height: 25%;
    border-radius: 20px;
    background-color: white;

}

.recipePrice {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 40%;
}

.recipePrice > p {
    margin: 0;
    font-size: 20px;
}

.buyBtn {
    height: 30%;
    margin: 2.5% 10%;
}

.cancelBtn {
    height: 30%;
    margin: 2.5% 10% 7.5% 10%;
}
