.temp_bodyDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: #e8eeff;
}

.temp_bodyDiv div {
    border-radius: 25px;
    margin: 1.25% 1% 0.75% 1%;
}

.bodyTopDiv {
    display: flex;
    flex-direction: row;
}

.totalRevenue {
    display: flex;
    width: 70%;
    height: 100%;
    background-color : white;
    overflow: hidden;
}

.revenueChart {
    position : relative;
    width : 50%;
    left : -2.5%;
    top : 5%;
}

.payHistory {
    width: 30%;
    height: 100%;
    background-color : white;
    overflow: hidden;
}

.payChart {
    position : relative;
    width : 100%;
    left : -25%;
    top : 5%;
}

.bodyBottomDiv {
    display: flex;
    flex-direction: row;
}

.visitors {
    width: 70%;
    background: white;
}

.topRevenue {
    width: 30%;
    background: white;
}